.ImageList img:hover {
  border: 7px solid #1293c9;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .ImageList img {
    width: 40%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .ImageList img {
    width: 25%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ImageList img {
    width: 25%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ImageList img {
    width: 25%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .ImageList img {
    width: 25%;
  }
}
